node { z-index: 0;}

node .infect {fill-color: #D22;}

node .truth {fill-color: #0010F6;}

node .target {fill-color: #00F642;z-index:2;}

node .neutral {fill-color: #ccc;}

node .start {fill-color: #ffff00; z-index:2;}

//edge { text-background-mode : rounded-box; text-background-color : #FFBF00; text-style : bold; text-size : 8;}

edge .infect {fill-color: black, red ; fill-mode : dyn-plain;}
edge .truth {fill-color: black, blue ; fill-mode : dyn-plain;}
